{{#if queryCount}}
    <div class="row row-gutter-bottom">
        <div class="col-xs-12 col-md-10">
            <nav>
                <ul class="pagination">
                    <li class={{isLeftArrowDisabled}}>
                        <a {{action "loadPrevPage"}} aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{#each pagesArray as |page|}}
                        <li class={{page.className}}>
                            <a {{action "loadByPageNumber" page.text}}>
                                {{page.text}}
                            </a>
                        </li>
                    {{/each}}
                    <li class={{isRightArrowDisabled}}>
                        <a {{action "loadNextPage"}} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-12 col-md-1">
            <nav>
                <div class="pagination">
                    {{select-element selectedValue=pageSize optionList=allPageSizes selectClassNames="btn btn-cys dropdown-toggle"}}
                </div>
            </nav>
        </div>
    </div>
{{/if}}
