{{#if isAdmin}}
    <h3>Event Admin</h3>
{{else}}
    <h3>Things to do in Ann Arbor, MI</h3>
{{/if}}

{{event-filters period=period type=type distance=distance ageGroup=ageGroup isFree=isFree}}

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <label>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            {{input value=queryTextBuffer placeholder="e.g Dancing Babies, Cherry Picking" size="40" enter="search" autofocus="autofocus"}}
            <button class="btn btn-cys" {{action "search" queryTextBuffer }}>Search</button>
        </label>
    </div>
</div>
{{#if isAdmin}}
    {{event-list-admin events=model delete=(action "delete") changeEventLife=(action "changeEventLife") transitionToEdit=(action "transitionToEdit")}}
{{else}}
    {{event-list events=model queryText=queryText}}
{{/if}}

{{pagination-element queryCount=queryCount pageNumber=pageNumber pageSize=pageSize}}
