<select class={{selectClassNames}} onchange={{action (mut selectedValue) value="target.value" }}>
    {{#if hasAll}}
        <option value="all">All</option>
    {{/if}}
    {{#each optionList as |selectOption|}}
        {{#if selectOption.value }}
            <option value={{selectOption.value}} selected={{eq selectedValue selectOption.value}}>{{selectOption.text}}</option>
        {{else}}
            <option value={{selectOption}} selected={{eq selectedValue selectOption}}>{{selectOption}}</option>
        {{/if}}
    {{/each}}
</select>
