<select class={{selectClassNames}} onchange={{action (mut selectedValue) value="target.value" }}>
    {{#each optionList as |selectOption|}}
        <option value={{selectOption.value}} selected={{eq selectedValue selectOption.value}}>{{selectOption.text}}</option>
    {{/each}}
</select>
